.container {
  margin-bottom: 5vh;
  padding: 20px 18px;
  background: #fff;
}

.header {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  color: #b1b1b1;
  border-radius: 4px;
  //margin-bottom: 20px;
}

.lessonName {
  word-wrap: break-word;
  text-align: left;
  padding-top: 8px;
  color: #545454;
  font-size: 14px;
  font-weight: 500;
  //max-width: 100%;
}
