@import "../../theme/variables.scss";

.header {
  background-color: $headerTop;
  display: flex;
  padding: 0 7vw;
}

.container {
  display: flex;
  padding-bottom: 10px;
  padding-top: 10px;
}

.navLink {
  font-size: 14px;
  color: #fff;
  opacity: 0.3;
  text-decoration: none;
  padding-bottom: 8px;
  &:hover {
    opacity: 1;
  }
}

.navLinkContainer {
  padding-right: 32px;
}

@media screen and (max-width: 770px) {
  .header {
    display: none;
  }
}
